{% extends 'base.html' %}

{% block contenido %}
<main class="container">
  <div class="container-fluid bg-primary-subtle rounded-bottom-3">
    <div class="container p-5">
      {% include 'messages.html' %}
      <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-text text-danger">{{ error }}</div>
        <button class="btn btn-primary mt-3" type="submit" onclick="(alerta)">Registrar</button>
      </form>
    </div>
 </div>
</main>
{% endblock contenido %}